* {
  box-sizing: border-box;
}

.thumbnail {
  width: 250px;
  height: 400px;
  float: left;
  padding: 4px;
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.respect-ratio-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

.thumbnail-img {
  max-width: 230px;
  max-height: 300px;
}

.thumbnail-caption {
  overflow: auto;
  height: 80px;
  padding: 10px 6px 6px;
  margin-top: 10px;
  color: #333;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0,0,0,0.5);
}

.overlay-opened.overlay {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.lightbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 600px;
  padding: 4px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 6px;
}

.lightbox .thumbnail {
  float: none;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 0;
  border: 0;
  margin-left: 0;
}

.lightbox .thumbnail-img {
  max-width: 330px;
  max-height: 440px; 
}

.lightbox .btn {
  position: absolute;
  top: 250px;
  padding: 15px 15px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #2e6da4;
  background: #337ab7;
}

.lightbox .btn {
  cursor: pointer;
}

.lightbox .btn-prev {
  left: -80px;
}

.lightbox .btn-next {
  right: -80px;
}